<div class="container-fluid">
    {% if  datoVotante %}
    <div class="row">
        <div class="col-md-12 col-xs-12" style="box-shadow: 5px 5px 10px;color: black;border: 4px solid #d0a22c; border-radius: 5px;">
            <center>

                <h4 style="color:#675846">Resultados de la Busqueda</h4>
                <br>

            <strong style="color:#675846">
                CEDULA
            </strong>
            <h5>
                {{  datoVotante.cedula }}
            </h5>
            <strong style="color:#675846">
                MATRICULA
            </strong>
            <h5>
                {{  datoVotante.matricula }}
            </h5>
            <strong style="color:#675846">
                APELLIDOS Y NOMBRE
            </strong>
            <h5>
                {{  datoVotante.apellido }} , {{ datoVotante.nombre }}
            </h5>
            <strong style="color:#675846">
                FECHA NACIMIENTO
            </strong>
            <h5>
                {{  datoVotante.fechaNacimiento }}
            </h5>
            <strong style="color:#675846">
                PADRON 2017
            </strong>
            <h5>
                {{  datoVotante.ok_2017 }}
            </h5>
            <strong style="color:#675846">
                UNIVERSIDAD
            </strong>
            <h5>
                {% if datoVotante.universidad == None %}
                    S/D
                    {% else %}
                {{  datoVotante.universidad }}
                    {% endif %}
            </h5>
            <strong style="color:#675846">
                PROMO
            </strong>
            <h5>
                {{  datoVotante.egreso }}
            </h5>
            <strong style="color:#675846">
                DEPARTAMENTO
            </strong>
            <h5>
                {{  datoVotante.dep_2017 }}
            </h5>
            <strong style="color:#675846">
                DISTRITO
            </strong>
            <h5>
                {{  datoVotante.dis_2017 }}
            </h5>
            <strong style="color:#675846">
                Hablitado 2020
            </strong>
            <h5>
                {{  datoVotante.estaHabilitado }}
            </h5>
            <br>
            <button id="repetirBusqueda" type="button" class="btn" style="background-color: rgba(206, 160, 42); color: white;"> Volver a buscar </button>
            </center>
        </div>
    </div>
    {% else %}
         <div class="row">
        <div class="col-md-12 col-xs-12" style="box-shadow: 5px 5px 10px;color: black;border: 4px solid #d0a22c; border-radius: 5px;">
            <center>
                <h4>No se encontraron resultados</h4>
                <br>
                <button id="repetirBusqueda" type="button" class="btn" style="background-color: rgba(206, 160, 42); color: white;"> Volver a buscar </button>
            </center>
        </div>
    </div>


    {% endif %}
</div>